---
import LayoutInvite from '../layouts/LayoutInvite.astro';
import invite from '../assets/images/invite.png';
---

<LayoutInvite title="Invitación">
    <div class="invite flex justify-center p-5" id="invite">
        <div class="error max-w-screen-md bg-red-900" id="error">
            <span class="text-xl text-white p-12">Parece que no has sido invitado. tal vez deberías tener más amigos.</span>
        </div>

        <div class="invited w-80 bg-white drop-shadow-lg" id="invited">
            <div class="relative bg-white h-full text-center">
                <img src={invite.src} alt="Invitación">

                <div class="head text-ambeer-950 text-center">
                  <p class="gupter"><span id="name"></span>,<br> has sido invitado <br> a nuestra boda.</p>
                </div>

                <div class="qr text-ambeer-950">
                    <p class="gupter">Válido para <span id="tickets"></span> entradas</p>
                    <div class="flex justify-center w-full bg-transparent">
                        <canvas id="canvas" class="bg-transparent w-18 h-18"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="btn" class="div-button flex justify-center">
        <button class="text-amber-950 text-center hover:scale-105 transition-all cursor-pointer w-80 border-2 border-amber-950 p-3" 
        onclick="exportToPng()">Descargar</button>
    </div>
</LayoutInvite>

<style>
    .error {
        display: none;
    }

    .invited {
        display: none;
    }

    .gupter {
        font-family: "Gupter", serif !important;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 3px;
    }

    .qr {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 67%;
    }

    .head {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 3%;
    }

    .qr span, p {
        font-size: 10px;
    }

    .qr div canvas {
        height: 60px !important;
        width: 60px !important;
        margin-top: 2px !important;
    }
</style>

<script>
    import QRCode from 'qrcode';
    import { Notyf } from 'notyf';
    import 'notyf/notyf.min.css';
    import html2canvas from 'html2canvas';

    const notyf = new Notyf({
        duration: 10000
    });

    window.onload = async () => {
        const error = document.getElementById('error');
        const invited = document.getElementById('invited');
        const idParam = new URLSearchParams(window.location.search).get('id') || '';
        const successParam = new URLSearchParams(window.location.search).get('success') || '';
        const canvas = document.getElementById('canvas');
        const nTickets = document.getElementById('tickets');
        const name = document.getElementById('name');

        try {
            if (successParam != "") {
                notyf.success("Hemos enviado el link de esta invitación a tu Whatsapp. Puedes consultarlo cuando gustes.");
            }

            const response = await fetch(`api/${idParam}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            });

            if (!response.ok) {
                error.style.display = 'block';
                invited.style.display = 'none';
            } else {
                const data = await response.json();
                error.style.display = 'none';
                invited.style.display = 'block';
                QRCode.toCanvas(canvas,`${window.location.protocol}//${window.location.host}/checkInvite?id=${data.id}`);
                nTickets.innerText = data.tickets;
                name.innerText = data.fullName;
            }
        } catch (error) {
            console.log("ERROR", error);
        }
    };

    const exportToPng = async () => {
        const content = document.getElementById('invited');
        const canvas = await html2canvas(content, { scale: 3 }); 
        const imgData = canvas.toDataURL('image/png');

        const link = document.createElement('a');
        link.href = imgData;
        link.download = 'invite.png';
        link.click();
    };

</script>
